body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  width: 450px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto;
  font-size: larger;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  font-size: large;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px auto 0px;
  text-align: center;
  font-size: large;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 30px;
  margin: auto;
  font-size: large;
}